*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff5b7;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gridContainer {
  border: 5px solid #005f99;
  display: grid;
  height: 75vh;
  width: 75vw;
}

#gridContainer div {
  border: 1px dotted #ff449f;
  cursor: pointer;
}

h1 {
  font-size: x-large;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #005f99;
}

button {
  margin-bottom: 25px;
  background-color: #ff449f;
  border: none;
  height: 2.5em;
  width: 8em;
  color: #fff5b7;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.1);
  background-color: #dd70a5;
}
